.dupla-projetos {
  width: 900px;
  padding-bottom: 1em;
  /* display: block; */
}

.projeto {
  background-color: #FAFFFC;
  width: 320px;
  height: 18rem;
  margin: 1em;
  padding: 1em;
  border: 0.2rem solid #5f0227;
  display: inline-block;
}

.conteudo {
  position: absolute;
}
