body {
  font-family: 'Times New Roman', serif;
  background-color: #F2FFFC;
}

h1, h2{
  font-family: 'Open Sans', sans-serif;
}

main h1 {
  color: #FFFFFF;
  text-align: center;
  background-color: #851944;
  padding: 20px;
}

p {
  text-align: justify;
}

cite {
  color: #797979;
}
blockquote {
  padding: 10px;
  background-color: #fdf6f6;
}

aside {
  background-color: #3C1D3D;
  color: #F2FFFC;
}

footer {
  background-color: #000;
  color: #F2FFFC;
}

/* Estilos para os links */

main a {
  color: #851944;
}

aside a {
  color: inherit; /* Pega a cor que foi definido no pai */
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
