/* * {
    display: inline;
} */

body {
  font-family: 'Crimson Text', 'Times New Roman', serif;
  background-color: #f3eeee8a;
  font-size: 120%;
  line-height: 1.5; //Especifica um valor relativo ao tamanho da fonte
}

.titulo-da-pagina, .navegacao-site h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.container {
  width: 720px;
  margin: 30px auto 30px auto;
  /* float: left; */
}

.titulo-da-pagina {
  color: #FFFFFF;
  text-align: center;
  background-color: #851944;
  border-bottom: 10px solid #5f0227;
  padding: 25px;
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
}


p {
  text-align: justify;
  margin: 20px 0 20px 0;
}


main {
  float: left;
  width: 100%;
  padding-bottom: 80px;
}

.foto-bio{
  position: fixed;
  top: 0px;
  right:0px
}

.navegacao-site, .foto-bio{
  float: right;
  box-sizing: border-box;
  border: 10px solid black;
  right: 20px;

}

.navegacao-site {
  background-color: #3C1D3D;
  color: #F2FFFC;
  position: fixed;
  top: 310px;
  width: 15%;
  height: 350px;

}

.navegacao-site h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.navegacao-site div {
  margin: 30px auto 30px auto;
  text-align: center;
}

.icones-redes-sociais li {
  display: inline-block; //Permite a propriedade em linha capaz de definir a altura e a largura
}

.icones-redes-sociais a{
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -999999px
}

.github {
  background-image: url(../img/github.png);
}

.twitter {
  background-image: url(../img/twitter.png);
}

.linkedin {
  background-image: url(../img/linkedin.png);
}

#rodape-pagina {
  background-color: #000;
  color: #F2FFFC;
  padding: 20px;
  clear: both;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/* Estilos para os links */

main a {
  color: #851944;
}

.navegacao-site a {
  color: inherit; /* Pega a cor que foi definido no pai */
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: lowercase;
}
